.Pq, .haut1, .outils, .charte, .maquettes, .analyse {
    display: flex;
    flex-direction: row;
    margin-top: 200px;  
}
.haut1text {
    margin-top: 150px;
    font-size: 25px;
    padding-right: 160px;
}

.pourquoitext {
    margin-top: 150px;
    font-size: 25px;
    padding-right: 200px;
    margin-left: 200px;
}

.outilstext {
    margin-top: 150px;
    font-size: 25px;
    padding-right: 80px;
    margin-left: 200px;
}

.maquettestext {
    margin-top: 150px;
    font-size: 25px;
    padding-right: 200px;
    margin-left: 200px;
}

.chartetext {
    margin-top: 150px;
    font-size: 25px;
    padding-right: 140px;
    margin-left: 300px;
}

.analysetext {
    margin-top: 150px;
    font-size: 25px;
    padding-right: 140px;
    margin-left: 300px;
}




.imgcharte {
    width: 30%;
    margin-left: 100px;
    margin-top: 60px;
    transform: translateX(-100%);
    opacity: 0;
    transition: opacity 0.6s ease-in-out, transform 0.6s ease-in-out;
}

.imgcharte.active {
    opacity: 1;
    transform: translateX(0%);
}

.imga {
    width: 50%;
    padding-top: -10%;
}
.imglogoal {
    width: 30%;
    margin-right: 100px;
    transform: translateX(+100%);
    opacity: 0;
    transition: opacity 0.6s ease-in-out, transform 0.6s ease-in-out;
}

.imglogoal.active {
    opacity: 1;
    transform: translateX(0%);
}

.imgoutils {
    width: 50%;
    opacity: 0;
    transform: translateX(+100%);
    transition: opacity 0.6s ease-in-out, transform 0.6s ease-in-out;
}

.imgoutils.active {
    opacity: 1;
    transform: translateX(0%);
}

.imgmaq {
    width: 25%;
    opacity: 0;
    transform: translateX(+100%);
    transition: opacity 0.6s ease-in-out, transform 0.6s ease-in-out;
}

.imgmaq.active {
    opacity: 1;
    transform: translateX(0%);
}

.imgpersona {
    width: 30%;
    margin-top: 100px;
    transform: translateX(+100%);
    transition: opacity 0.6s ease-in-out, transform 0.6s ease-in-out;
}

.imgpersona.active {
    opacity: 1;
    transform: translateX(0%);
}

.slide-in {
    max-width: 900px;
    margin: 50px auto;
    background: linear-gradient(to right, #fc4a1a, #f7b733); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding: 20px;
    transform: translateX(-100%);
    opacity: 0;
    transition: transform 0.6s ease-in-out,
    opacity 0.6s ease-in-out;
}
.slide-in.active {
    transform: translateX(0%);
    opacity: 1;
}

.bouton-contact {
    border: black;
    display: inline-block;
    border-radius: 2rem;
   margin-left: 40%;
    padding: 15px;
    color: white;
    text-decoration: none;
    background-color: rgb(11, 11, 11);
}


.leform {
    font-size: 20px;
    transform: translateY(200px);
    margin-left: 40%;

    display: inline-block;
    padding: 40px;


}

#message {
    width: 60%;
    height: 80px;
}

.bouton {
    margin-top: 40px;
    font-size: 15px;
    display: inline-block;
    text-align: center;
    transform: translateX(200px);
}